body {
  background-color: #21282e !important;
}
@media (max-width: 767px) {
  body {
    padding: 0px !important;
  }
}
.wrapper {
  font-family: "Myriad Pro";
}
.wrapper aside {
  background-color: #21282e;
  color: #f7f7f7;
  width: 30%;
  float: left;
  position: fixed;
}
@media (max-width: 768px) {
  .wrapper aside {
    width: 100%;
    float: none;
    overflow: hidden;
    z-index: 200;
    background-color: rgba(33, 40, 46, 0.8);
  }
}
@media (max-width: 768px) {
  .wrapper aside div.aux {
    position: relative;
    width: 100%;
  }
}
.wrapper aside div.aux section.logo {
  padding: 50px;
}
@media (max-width: 768px) {
  .wrapper aside div.aux section.logo {
    padding: 10px 15px 3px 15px;
    background-color: #21282e;
  }
}
.wrapper aside div.aux section.logo a {
  float: right;
}
.wrapper aside div.aux section.logo a i {
  line-height: 2.8em;
  color: white;
}
.wrapper aside div.aux section.logo h1 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  margin-top: 0px;
  font-size: 2.2em;
}
@media (max-width: 768px) {
  .wrapper aside div.aux section.logo h1 {
    font-size: 2em;
  }
}
.wrapper aside div.aux section.intro p {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  padding: 0px 50px;
  font-weight: 500;
  line-height: 1.3em;
}
.wrapper aside div.aux nav {
  height: 100%;
}
.wrapper aside div.aux nav ul {
  padding: 60px 0px 0px 0px;
}
@media (max-width: 768px) {
  .wrapper aside div.aux nav ul {
    padding: 15px 15px 0px 15px;
  }
}
.wrapper aside div.aux nav ul li {
  font-family: "Myriad Pro";
  font-weight: 300;
}
@media (max-width: 768px) {
  .wrapper aside div.aux nav ul li {
    text-align: center;
    margin-left: 0px;
    margin-bottom: 10px;
  }
  .wrapper aside div.aux nav ul li:last-child {
    margin-bottom: 0px;
  }
}
.wrapper aside div.aux nav ul li a {
  border-radius: 0px;
  padding-left: 50px;
  padding-top: 13px;
}
.wrapper aside div.aux nav ul li a:hover {
  animation-duration: 0.5s;
  -o-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  -webkit-animation-duration: 0.5s;
}
@media (max-width: 768px) {
  .wrapper aside div.aux nav ul li a {
    padding-left: 0px;
    border-radius: 3px;
    -o-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
  }
}
.wrapper aside div.aux section.social {
  padding: 0px 40px 0px 50px;
  width: 100%;
  height: 50px;
  margin-top: 160px;
}
.wrapper aside div.aux section.social a {
  display: block;
  width: 25%;
  height: 50px;
  float: left;
}
.wrapper div.main {
  background-color: #f7f7f7;
  padding-left: 0px;
  width: 70%;
  float: right;
}
@media (max-width: 768px) {
  .wrapper div.main {
    position: relative;
    width: 100%;
    float: none;
    margin-top: 65px;
  }
}
.wrapper div.main section.dribbble ul {
  padding: 0;
  margin: 1%;
}
.wrapper div.main section.dribbble ul li {
  list-style: none;
  float: left;
  width: 18%;
  margin: 1%;
  border: 1px solid #EAEAEA;
}
@media (max-width: 1500px) {
  .wrapper div.main section.dribbble ul li {
    width: 23%;
  }
}
@media (max-width: 1200px) {
  .wrapper div.main section.dribbble ul li {
    width: 31%;
  }
}
@media (max-width: 768px) {
  .wrapper div.main section.dribbble ul li {
    width: 31%;
  }
}
@media (max-width: 500px) {
  .wrapper div.main section.dribbble ul li {
    width: 48%;
  }
}
.wrapper div.main section.dribbble ul li img {
  width: 100%;
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 5px solid white;
}
.wrapper div.main section.case-study {
  border-bottom: 1px solid rgba(0, 0, 0, 0.09);
  border-top: 0px solid rgba(0, 0, 0, 0.01);
  margin-left: 0px;
  padding-left: 0px;
}
.wrapper div.main section.case-study aside {
  background-image: url("../img/case_study_thumb1.jpg");
  height: 250px;
  width: 0%;
  padding: 0px;
  overflow: hidden;
  animation: slide-hover-back;
  -o-animation: slide-hover-back;
  -moz-animation: slide-hover-back;
  -webkit-animation: slide-hover-back;
  animation-duration: 0.5s;
  -o-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  -webkit-animation-duration: 0.5s;
}
@media (max-width: 768px) {
  .wrapper div.main section.case-study aside {
    position: relative;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    animation: none;
    -o-animation: none;
    -moz-animation: none;
    -webkit-animation: none;
  }
}
.wrapper div.main section.case-study article {
  height: 250px;
  background-color: #f7f7f7;
}
.wrapper div.main section.case-study article header {
  padding: 60px 70px 0px 70px;
  overflow: hidden;
}
@media (max-width: 768px) {
  .wrapper div.main section.case-study article header {
    padding: 20px 0px;
  }
}
.wrapper div.main section.case-study article header h2 {
  margin-top: 0px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
}
.wrapper div.main section.case-study article header p {
  color: #8f8f8f;
}
.wrapper div.main section.case-study:hover aside {
  animation: slide-hover;
  -o-animation: slide-hover;
  -moz-animation: slide-hover;
  -webkit-animation: slide-hover;
  animation-duration: 0.5s;
  -o-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  -webkit-animation-duration: 0.5s;
  width: 32%;
}
@media (max-width: 768px) {
  .wrapper div.main section.case-study:hover aside {
    width: 100%;
    animation: none;
    -o-animation: none;
    -moz-animation: none;
    -webkit-animation: none;
  }
}
footer {
  font-family: "Myriad Pro";
}
footer aside {
  background-color: #21282e;
  color: #f7f7f7;
}
footer div.main {
  background-color: #f7f7f7;
}
.heightMobile {
  height: 100%;
}
@keyframes slide-hover {
  0% {
    width: 0%;
    background-position-x: -50px;
  }
  100% {
    width: 32%;
    background-position-x: 0px;
    animation-timing-function: ease-out;
  }
}
@-o-keyframes slide-hover {
  0% {
    width: 0%;
    background-position-x: -50px;
  }
  100% {
    width: 32%;
    background-position-x: 0px;
    animation-timing-function: ease-out;
  }
}
@-moz-keyframes slide-hover {
  0% {
    width: 0%;
    background-position-x: -50px;
  }
  100% {
    width: 32%;
    background-position-x: 0px;
    animation-timing-function: ease-out;
  }
}
@-webkit-keyframes slide-hover {
  0% {
    width: 0%;
    background-position-x: -50px;
  }
  100% {
    width: 32%;
    background-position-x: 0px;
    animation-timing-function: ease-out;
  }
}
@keyframes slide-hover-back {
  0% {
    width: 32%;
    background-position-x: 0px;
  }
  100% {
    width: 0%;
    background-position-x: -50px;
    animation-timing-function: ease-out;
  }
}
@-o-keyframes slide-hover-back {
  0% {
    width: 32%;
    background-position-x: 0px;
  }
  100% {
    width: 0%;
    background-position-x: -50px;
    animation-timing-function: ease-out;
  }
}
@-moz-keyframes slide-hover-back {
  0% {
    width: 32%;
    background-position-x: 0px;
  }
  100% {
    width: 0%;
    background-position-x: -50px;
    animation-timing-function: ease-out;
  }
}
@-webkit-keyframes slide-hover-back {
  0% {
    width: 32%;
    background-position-x: 0px;
  }
  100% {
    width: 0%;
    background-position-x: -50px;
    animation-timing-function: ease-out;
  }
}
